<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtRuA0Y51Phm838YhCWKVKJWDgkYPusdM</string>
	<key>GCM_SENDER_ID</key>
	<string>123500347643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>life.moreexciting.app</string>
	<key>PROJECT_ID</key>
	<string>more-exciting-life-1b3ea</string>
	<key>STORAGE_BUCKET</key>
	<string>more-exciting-life-1b3ea.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123500347643:ios:b937ec6664f7fb4afa705e</string>
</dict>
</plist>